<html>
    <head bgcolor = "#99FF66">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ugrad.cs.jhu.edu/~rmarren1/script.js"></script>
		<link rel="stylesheet" type="text/css" href="http://ugrad.cs.jhu.edu/~rmarren1/ss.css">
		<img id = "title" src = "http://ugrad.cs.jhu.edu/~rmarren1/Jaipur_Title.png">
    </head>
    <body bgcolor = "#99FF66">
    {% block maincontent %}
    {% endblock %}
    </body>
</html>
		
