<div id="board">
<div id="tokens"> TOKENS
<div class="tokenHolder"><div class="tokenIcon Le"></div><div class="token Le"></div><div class="token Le"></div><div class="token Le"></div><div class="token Le"></div></div><div class="tokenHolder"><div class="tokenIcon Sp"></div><div class="token Sp"></div><div class="token Sp"></div><div class="token Sp"></div><div class="token Sp"></div></div><div class="tokenHolder"><div class="tokenIcon Cl"></div></div><div class="tokenHolder"><div class="tokenIcon Ag"></div></div><div class="tokenHolder"><div class="tokenIcon Au"></div><div class="token Au"></div><div class="token Au"></div></div><div class="tokenHolder"><div class="tokenIcon Di"></div><div class="token Di"></div><div class="token Di"></div></div><div class="tokenHolder"><div class="tokenIcon B3"></div><div class="token B3"></div></div><div class="tokenHolder"><div class="tokenIcon B4"></div><div class="token B4"></div><div class="token B4"></div><div class="token B4"></div><div class="token B4"></div><div class="token B4"></div></div><div class="tokenHolder"><div class="tokenIcon B5"></div><div class="token B5"></div><div class="token B5"></div><div class="token B5"></div><div class="token B5"></div><div class="token B5"></div></div></div><div id="market"> MARKET<div class="line"><div onclick = "flag(this)" id="card0" class="card Ag"></div><div onclick = "flag(this)" id="card1" class="card Au"></div><div onclick = "flag(this)" id="card2" class="card Cl"></div><div onclick = "flag(this)" id="card3" class="card Sp"></div><div onclick = "flag(this)" id="card4" class="card Au"></div><div id="deck0"></div></div></div>
<div id="hand">tiff
<div><div onclick="flag(this)" class="card Sp" ></div><div onclick="flag(this)" class="card Sp" ></div><div onclick="flag(this)" class="card Sp" ></div><div onclick="flag(this)" class="card Sp" ></div><div onclick="flag(this)" class="card Di" ></div><div onclick="flag(this)" class="card Di" ></div><div onclick="flag(this)" class="card Di" ></div></div><div class="line"><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div><div class="tokenIcon Ca"></div></div>
<div class="line">
<div id="rupee"></div>
<div id="points">38 RUPEES</div>
</div></div>
</div>
