@font-face {
font-family:"Jaipur";
src:url("samarn.eot?") format("eot"),
	url("samarn.woff") format("woff"),
	url("samarn.ttf") format("truetype"),
	url("samarn.svg#SamarkanNormal") format("svg");
font-weight:normal;
font-style:normal;
}

.line {
	float: left;
	width: 100%;
	clear: left;
	padding-top: 20px;
}

.buttonline {
	float: left;
	width: 100%;
	clear: left;
}
.card {
	float: left;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	width: 30px;
	height: 50px;
	border-style: solid;
	border-width: 2px;
	background-position: 50% 50%;
}
#takeline { visibility: hidden; }
#sellline { visibility: hidden; position: absolute; top: 113px;}

#deck0 {
	background-image: url("deck0.jpg"); 
	float:right;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 59px;
	height: 38px;
	border-style: solid;
	border-width: 2px;
}
#deck1 {
	background-image: url("deck1.png"); 
	float:right;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 59px;
	height: 38px;
	border-style: solid;
	border-width: 2px;
}

.token {
	float: left;
	border-radius: 10px;
	margin: 2px;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-width: 2px;
}

.tokenHolder {
	width = 185px;
	float: left;
	clear: left;
}

.tokenIcon {
	background-position: 50% 50%;
	float: left;
	border-radius: 32px;
	margin: 2px;
	width: 32px;
	height: 32px;
	border-style: solid;
	border-width: 2px;
}
	
.Di { background-color: #CCCCFF; background-image: url("Di.png") }
.Au { background-color: #FFCC00; background-image: url("Au.png") }
.Ag { background-color: #A3A375; background-image: url("Ag.png") }
.Cl { background-color: #CC0099; background-image: url("Cl.png") }
.Sp { background-color: #00CC00; background-image: url("Sp.png") }
.Le { background-color: #663300; background-image: url("Le.png") }
.Ca { background-color: #FF9933; background-image: url("Ca.png") }
.B3 { background-color: #000099; background-image: url("B3.png") }
.B4 { background-color: #000066; background-image: url("B4.png") }
.B5 { background-color: #000033; background-image: url("B5.png") }
#rupee {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 30px;
	height: 20px;
	background-position: 50% 50%;
	background-image: url("rupee.png");
	background-repeat: no-repeat;
}
#points { 
	text-align: left;
	float: left;
	margin: 5px;
	height: 30px;
	width: 200px;
	font-family: Jaipur, Courier;
	font-size: 75%;
	color: red;
}
#title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#board {
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	width: 600px;
	height: 400px;
	background-color: #669900;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#menu {
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	width: 600px;
	height: 100px;
	background-color: #009966;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.button {
	cursor: hand;
	cursor: pointer;
	font-size: 300%;
	font-family: Jaipur, Courier;
	text-align: center;
	float: left;
	border-radius: 15px;
	margin: 5px;
	padding: 15px;
	width: 255px;
	height: 60px;
	border-style: solid;
	border-width: 2px;
}

.button2 {
	cursor: hand;
	cursor: pointer;
	font-size: 200%;
	font-family: Jaipur, Courier;
	text-align: center;
	float: left;
	border-radius: 15px;
	margin: 5px;
	padding: 15px;
	width: 155px;
	height: 54px;
	background-color: #CC99FF;
	border-style: solid;
	border-width: 2px;
}

.button3 {
	cursor: hand;
	cursor: pointer;
	font-size: 344%;
	font-family: Jaipur, Courier;
	text-align: center;
	float: left;
	border-radius: 15px;
	margin: 5px;
	padding: 20px;
	width: 544px;
	height: 50px;
	background-color: #F0D45D;
	border-style: solid;
	border-width: 2px;
}
#take { 
	background-color: #CC00FF;
} 
#sell {
	background-color: #FF9900;
}
#tokens {
	font-family: Jaipur, Courier;
	font-size: 200%;
	text-align: center;
	border-radius: 15px;
	float: left;
	width: 185px;
	height: 400px;
	background-color: #FFFF66;
}

#market {
	font-family: Jaipur, Courier;
	font-size: 200%;
	text-align: center;
	border-radius: 15px;
	float: right;
	width: 400px;
	height: 150px;
	background-color: #996633;
}

#hand {
	font-family: Jaipur, Courier;
	font-size: 200%;
	text-align: center;
	border-radius: 15px;
	width: 400px;
	height: 235px;
	position: absolute;
	right: 10;
	bottom: 10;
	background-color: #FFFF66;
}


